#btn{
    background-color: rgb(218, 159, 188);
    border-radius: 35%;
    width: 7rem;
    height: 7rem;
    font-family: cursive;
    font-size: normal;
}

noscript{
    background-color: red;
    color: white;
}